<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include ("./partials/head.ejs")%>

</head>

<body>
    <header>
        
        <%- include ("./partials/header.ejs")%>

    </header>

    <main>

    <div class="bodyTotal">

    <div class="lugarCategorias">
        
            <ul class="categorias">
                <h3>Categorias</h3>
                <li class="linksIzq"><a href=""> Premier League </a></li>
                <li class="linksIzq"><a href=""> La Liga  </a></li>
                <li class="linksIzq"><a href=""> Serie A </a></li>
                <li class="linksIzq"><a href=""> Primera Division Argentina </a></li>
                <li class="linksIzq"><a href=""> MLS </a></li>
                <li class="linksIzq"><a href=""> Selecciones Mundiales </a></li>
                <li class="linksIzq"><a href=""> Primera Division Colombiana </a></li>
            </ul>
    </div>    
     
        <div class="imagenesCamisetas">

            
        <h2 class="titulos">La Liga</h2> 
        <div class="bodyimagenes">

            <% for(let producto of Laliga ) { %>    <!-- category -->
             
                    <article class="real" >
                        <a href="/product-detail/<%= producto.id %>">
                            <img src="/design/images-products/<%= producto.imageFrente%>" alt=""> <!-- imageFrente -->
                            <div class="capa">
                                <img src="/design/images-products/<%= producto.imageBack%>" alt=""> <!-- imageBack -->
                            </div>
                            </a>
                            <h2 class="titulosCamisetas"><%= producto.name%></h2> <!-- name -->
                    </article>

                <% } %>
            </div>

        



        <h2 class="titulos">Premier League</h2>
        <div class="bodyimagenes">

            <% for(let producto of PremierLeague ) { %>
             
                <article class="real" >
                    <a href="/product-detail/<%= producto.id %>">
                        <img src="/design/images-products/<%= producto.imageFrente%>" alt=""> <!-- imageFrente -->
                        <div class="capa">
                            <img src="/design/images-products/<%= producto.imageBack%>" alt=""> <!-- imageBack -->
                        </div>
                        </a>
                        <h2 class="titulosCamisetas"><%= producto.name%></h2> <!-- name -->
                </article>
            
            <% } %>

        
        </div>



        <h2 class="titulos">Selecciones Del Mundo</h2>
            <div class="bodyimagenes">

                <% for(let producto of SeleccionesDelMundo) { %>
                    <article class="real" >
                        <a href="/product-detail/<%= producto.id %>">
                            <img src="/design/images-products/<%= producto.imageFrente%>" alt=""> <!-- imageFrente -->
                            <div class="capa">
                                <img src="/design/images-products/<%= producto.imageBack%>" alt=""> <!-- imageBack -->
                            </div>
                            </a>
                            <h2 class="titulosCamisetas"><%= producto.name%></h2> <!-- name -->
                    </article>
                <% } %>

            </div>



        <h2 class="titulos">Primera Division Colombiana</h2>
            <div class="bodyimagenes">

                <% for(let producto of PrimeraDivisionColombiana) { %>
                    <article class="real" >
                        <a href="/product-detail/<%= producto.id %>">
                            <img src="/design/images-products/<%= producto.imageFrente%>" alt=""> <!-- imageFrente -->
                            <div class="capa">
                                <img src="/design/images-products/<%= producto.imageBack%>" alt=""> <!-- imageBack -->
                            </div>
                            </a>
                            <h2 class="titulosCamisetas"><%= producto.name%></h2> <!-- name -->
                    </article>
                <% } %>
            </div>

            

        <h2 class="titulos">Primera Division Argentina</h2>
            <div class="bodyimagenes">

                <% for(let producto of PrimeraDivisionArgentina) { %>
                    <article class="real" >
                        <a href="/product-detail/<%= producto.id %>">
                            <img src="/design/images-products/<%= producto.imageFrente%>" alt=""> <!-- imageFrente -->
                            <div class="capa">
                                <img src="/design/images-products/<%= producto.imageBack%>" alt=""> <!-- imageBack -->
                            </div>
                            </a>
                            <h2 class="titulosCamisetas"><%= producto.name%></h2> <!-- name -->
                    </article>
                <% } %>
                
            </div>
        </div>
    </div>

    </main>

    <footer class="footer"> 
        
        <%- include ("./partials/footer.ejs")%>

    </footer>

</body>
</html>