<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include ("./partials/head.ejs")%>

</head>

<body>
    <header>
       
        <%- include ("./partials/header.ejs")%>

    </header>
    

      <!--El contenido de la pagina seria-->
    <!--Desde acá-->
    <main class="loginPage">
  
    <div class="fondo">

    <h2 class="titulosForm">Ingresá</h2>
 
    
    <form class="formSignup" action="/user/login" method="POST">

        <input class="textos" type="email" id="email" name="email" placeholder="Ingresá tu correo Electronico"
                        value="<%= locals.old && old.email ? old.email:'' %>">
                    <% if (locals.errors && errors.email) { %>
                        <div class="errores">
                            <%= errors.email.msg%>
                        </div>
                        <% } %>

                        <input class="textos" type="password" id="password" name="password" placeholder="Ingresá tu contraseña" required>
                        <% if (locals.errors && errors.password) { %>
                            <div class="errores">
                                <%= errors.password.msg%>
                            </div>
                            <% } %>

        <div class="contRecordar">
            <label class="titulosForm" for="">Recordar Usuario</label>
            <input class="botonRecordar" type="checkbox" name="recordarme">
        </div>
        
        <button class="botones" type="submit" value="Enviar">Enviar</button>
    </form>


        <span class="forgotPass2">
        <a class="titulosForm" href="" title="Forgot Password" id="link-reset">Has olvidado tu contraseña?</a>
    </span>

        <span class="forgotPass2">
        <a class="titulosForm" href="/user/register" title="register" id="link-register">No tenés cuenta todavía?  Regístrate</a>
    </span>
</div>
    
    </main>
    <!--Hasta acá acá-->
    <!--Lo otro es header y footer-->


    <footer class="footer"> 

        <%- include ("./partials/footer.ejs")%>
        
    </footer>

    
</body>
</html>