<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include ("./partials/head.ejs")%>

</head>

<body>
    <header>
        
        <%- include ("./partials/header.ejs")%>

    </header>
    
    <main>
    <!--El contenido de la pagina seria-->
    <!--Desde acá-->
        <div class="contDetalle">
            <div class="detalleProducto">
            <h1 class="tituloDetalle">Detalle Del Producto</h1>

            <h2 class="textoDetalle"><%= productos.name %></h2>
                <div class="imgProducto">
                    <img class="prodReal" src="/design/<%= productos.imageFrente %>" alt="Camiseta">
                    <img class="prodReal" src="/design/<%= productos.imageBack %>" alt="Camiseta">
                </div>
            <div>
            <h2 class="textoDetalle">Precio</h2>
            <h2 class="textoDetalle"><%= productos.price %></h2>
        </div>
            <div class="contenedorBotones">
                <button class="botonMercado"  type="submit" value="Comprar"><i class="fa fa-shopping-cart"></i></button>
                <button class="botonMercado" id="botonCompra" type="submit" value="Comprar">Compra</button>
                <form action="/product-detail/<%= productos.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                    <div class="basurita">
                        <button class="botonMercado" type="submit" value="eliminar"><i class="fas fa-trash"></i></button>
                    </div>
                </form>
                
            </div>
            </div>

                <div class="caracteristicas">
                <h2 class="tituloCaracteristicas">Caracteristicas</h2>

                <p class="carateristicasCamisetas"><%= productos.description %></p>
                </div>
        </div>
    

    <!--Hasta acá acá-->
    <!--Lo otro es header y footer-->
    </main>

    <footer class="footer"> 
       
        <%- include ("./partials/footer.ejs")%>

    </footer>
    
</body>
</html>